@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Store.Models.DeleteViewModel;

@if (Model.DataType == "excel")
{
    @Html.ActionLink("Перейти да таблиці з MSSQL", "Delete", new { dataType = "MSSQL" })
}
else
{
    @Html.ActionLink("Перейти да таблиці з Excel", "Delete", new { dataType = "excel" })
}

@using (Html.BeginForm())
{
    <p>
        <input class="form-input" type="text" asp-for="SearchString" placeholder="Введіть імʼя постачальника" required>
        <input type="submit" value="Search" />
    </p>
}
<form asp-controller="Home" asp-action="Delete" method="post">
    <input class="form-input" type="hidden" asp-for="DataType" value="@Model.DataType">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ProviderName</th>
                <th>Description</th>
                <th>CreationData</th>
                <th>ModificationData</th>
                <th>Manager</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>City</th>
                <td><input type="checkbox" name="allCheckbox" id="selectAll" /></td>
            </tr>
        </thead>
        @for (int i = 0; i < Model.productViewModel.Count; i++)
        {

            var color = "";
            @if (Model.productViewModel[i].CreationData != Model.productViewModel[i].ModificationData)
            {
                color = "background-color: green";
            }

            <tr style="@color">
                <td>@Model.productViewModel[i].Id</td>
                <td>@Model.productViewModel[i].ProviderName</td>
                <td>@Model.productViewModel[i].Description</td>
                <td>@Model.productViewModel[i].CreationData</td>
                <td>@Model.productViewModel[i].ModificationData</td>
                <td>@Model.productViewModel[i].Manager</td>
                <td>@Model.productViewModel[i].Quantity</td>
                <td class="amount" id="@Model.productViewModel[i].Id">@Model.productViewModel[i].Amount</td>
                <td>@Model.productViewModel[i].City</td>
                <td>
                    <input class="form-input" type="checkbox" asp-for="productViewModel[i].Prods.Selected">
                    <input type="hidden" asp-for="productViewModel[i].Id" value="@Model.productViewModel[i].Id" />
                </td>

            </tr>
        }
    </table>
    <input type="submit" value="Видалити" />

</form>

@section scripts {
    <script>
        $(function () {
            $("#selectAll").click(function () {
                $("input[type=checkbox]").prop('checked', $(this).prop('checked'));
            });
            $("input[type=checkbox]").click(function () {
                if (!$(this).prop("checked")) {
                    $("#selectAll").prop("checked", false);
                }
            });

        })
    </script>
}