@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IList<Store.Domain.ProductViewModel>

<form asp-controller="Home" asp-action="DeleteExcel" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ProviderName</th>
                <th>Description</th>
                <th>CreationData</th>
                <th>ModificationData</th>
                <th>Manager</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>City</th>
                <td><input type="checkbox" name="allCheckbox" id="selectAll" /></td>
            </tr>
        </thead>
        @for (int i = 0; i < Model.Count; i++)
        {

            var color = "";
            @if (Model[i].CreationData != Model[i].ModificationData)
            {
                color = "background-color: green";
            }

            <tr style="@color">
                <td>@Html.DisplayFor(modelItem => Model[i].Id)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].ProviderName)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].Description)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].CreationData)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].ModificationData)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].Manager)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].Quantity)</td>
                <td class="amount" id="@Model[i].Id">@Html.DisplayFor(modelItem => Model[i].Amount)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].City)</td>
                <td>
                    <input asp-for="@Model[i].Prods.Selected" />
                    <input type="hidden" asp-for="@Model[i].Id" />
                </td>

            </tr>
        }
    </table>
    <input type="submit" value="Видалити" />

</form>

@section scripts {
    <script>
        $(function () {
            $("#selectAll").click(function () {
                $("input[type=checkbox]").prop('checked', $(this).prop('checked'));
            });
            $("input[type=checkbox]").click(function () {
                if (!$(this).prop("checked")) {
                    $("#selectAll").prop("checked", false);
                }
            });

        })
    </script>
}