@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EditViewModel

@if (Model.DataType == "excel")
{
    @Html.ActionLink("Перейти да таблиці з MSSQL", "Edit", new { dataType = "MSSQL" })
}
else
{
    @Html.ActionLink("Перейти да таблиці з Excel", "Edit", new { dataType = "excel" })
}

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString", "", new { @placeholder = "Введіть імʼя постачальника" })
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>ProviderName</th>
            <th>Description</th>
            <th>CreationData</th>
            <th>ModificationData</th>
            <th>Manager</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>City</th>

        </tr>
    </thead>
    @foreach (var item in Model.products)
    {

        var color = "";
        @if (item.CreationData != item.ModificationData)
        {
            color = "background-color: green";
        }

        <tr style="@color">
            <td>@item.Id</td>
            <td>@item.ProviderName</td>
            <td>@item.Description</td>
            <td>@item.CreationData</td>
            <td>@item.ModificationData</td>
            <td>@item.Manager</td>
            <td>@item.Quantity</td>
            <td class="amount" id="@item.Id">@item.Amount</td>
            <td>@item.City</td>
            <td><a id="@item.Id" href="~/Home/EditElement?id=@item.Id&dataType=@Model.DataType">Змінити</a></td>
        </tr>
    }
</table>