@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Store.Models.EditViewModel

<h1>Edit a Product</h1>

<form asp-controller="Home" asp-action="EditElement" method="post">
    <input class="form-input" type="hidden" asp-for="product.Id" value="@Model.product.Id">
    <input class="form-input" type="hidden" asp-for="DataType" value="@Model.DataType">
    <input class="form-input" type="hidden" asp-for="product.CreationData" value="@Model.product.CreationData">
    <div>
        <label class="form-label" asp-for="product.ProviderName" for="name">Імʼя</label>
        <input class="form-input" type="text" asp-for="product.ProviderName" value="@Model.product.ProviderName">
    </div>

    <div>
        <label class="form-label" asp-for="product.Description" for="name">Опис</label>
        <input class="form-input" type="text" asp-for="product.Description" value="@Model.product.Description">
    </div>

    <div>
        <label class="form-label" asp-for="product.Manager" for="name">Імʼя менеджера</label>
        <input class="form-input" type="text" asp-for="product.Manager" value="@Model.product.Manager">
    </div>

    <div>
        <label class="form-label" asp-for="product.Quantity" for="name">Кількість</label>
        <input class="form-input" type="text" asp-for="product.Quantity" value="@Model.product.Quantity">
    </div>

    <div>
        <label class="form-label" asp-for="product.Amount" for="name">Вартість</label>
        <input class="form-input" type="text" asp-for="product.Amount" value="@Model.product.Amount">
    </div>

    <div>
        <label class="form-label" asp-for="product.City" for="name">Місто</label>
        <input class="form-input" type="text" asp-for="product.City" value="@Model.product.City">
    </div>

    <button id="submit" class="form-submit-button" type="submit">Змінити</button>


</form>
