@{
    ViewData["Title"] = "Home Page";
}
@using Store.Models
@model IndexViewModel

<div class="nav-link text-dark">
    <span>Sum =</span>
    <span class="screen">0</span>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.ActionLink("Id", "IndexExcel", new { sortOrder = ViewBag.IdSortParam, page = Model.PageViewModel.PageNumber })</th>
            <th>@Html.ActionLink("ProviderName", "IndexExcel", new { sortOrder = ViewBag.ProviderNameSortParm, page = Model.PageViewModel.PageNumber })</th>
            <th>@Html.ActionLink("Description", "IndexExcel", new { sortOrder = ViewBag.DescriptionSortParm, page = Model.PageViewModel.PageNumber })</th>
            <th>@Html.ActionLink("CreationData", "IndexExcel", new { sortOrder = ViewBag.CreationDataSortParm, page = Model.PageViewModel.PageNumber })</th>
            <th>@Html.ActionLink("ModificationData", "IndexExcel", new { sortOrder = ViewBag.ModificationDataSortParm, page = Model.PageViewModel.PageNumber })</th>
            <th>@Html.ActionLink("Manager", "IndexExcel", new { sortOrder = ViewBag.ManagerSortParm, page = Model.PageViewModel.PageNumber })</th>
            <th>@Html.ActionLink("Quantity", "IndexExcel", new { sortOrder = ViewBag.QuantitySortParm, page = Model.PageViewModel.PageNumber })</th>
            <th>@Html.ActionLink("Amount", "IndexExcel", new { sortOrder = ViewBag.AmountSortParm, page = Model.PageViewModel.PageNumber })</th>
            <th>@Html.ActionLink("City", "IndexExcel", new { sortOrder = ViewBag.CitySortParm, page = Model.PageViewModel.PageNumber })</th>

        </tr>
    </thead>
    @foreach (var item in Model.Products)
    {

        var color = "";
        @if (item.CreationData != item.ModificationData)
        {
            color = "background-color: green";
        }

        <tr style="@color">
            <td>@item.Id</td>
            <td>@item.ProviderName</td>
            <td>@item.Description</td>
            <td>@item.CreationData</td>
            <td>@item.ModificationData</td>
            <td>@item.Manager</td>
            <td>@item.Quantity</td>
            <td>@item.Amount</td>
            <td>@item.City</td>
            <td><input type="checkbox" class="checkbox" value="@(item.Amount * item.Quantity)" id="@item.Id" /></td>
        </tr>
    }
</table>




@if (Model.PageViewModel.HasPreviousPage)
{
    <span class="btn btn-outline-dark">
        @Html.ActionLink("Назад", "IndexExcel", new { page = Model.PageViewModel.PageNumber - 1 })
    </span>
}
@if (Model.PageViewModel.HasNextPage)
{
    <span class="btn btn-outline-dark">
        @Html.ActionLink("Вперед", "IndexExcel", new { page = Model.PageViewModel.PageNumber + 1 })
    </span>
}



