@{
    ViewData["Title"] = "Home Page";
}
@using Store.Models
@model IndexViewModel



<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>ProviderName</th>
            <th>Description</th>
            <th>CreationData</th>
            <th>ModificationData</th>
            <th>Manager</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>City</th>

        </tr>
    </thead>
    @foreach (var item in Model.Products)
    {

        var color = "";
        @if (item.CreationData != item.ModificationData)
        {
            color = "background-color: green";
        }

        <tr style="@color">
            <td>@item.Id</td>
            <td>@item.ProviderName</td>
            <td>@item.Description</td>
            <td>@item.CreationData</td>
            <td>@item.ModificationData</td>
            <td>@item.Manager</td>
            <td>@item.Quantity</td>
            <td>@item.Amount</td>
            <td>@item.City</td>
            <td><input type="checkbox" class="checkbox" value="@(item.Amount * item.Quantity)" id="@item.Id"/></td>
        </tr>
    }
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>}


